
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@using GuitarShop.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<ChiTietDan>
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>
<div style="text-align:center;font-style:italic;font-weight:bold">Tìm thấy: @{Html.RenderAction("countDanPartial", "GuitarShop");} sản phẩm </div>

<div class="dropdown" style="margin-left:143px;padding-right:0px">
    <button class="dropbtn">Sắp xếp theo</button>
    <div class="dropdown-content">
        <a style="color:black" href="@Url.Action("Index_Gia_Cao_Thap","GuitarShop")">Giá cao -> thấp</a>
        <a  style="color:black" href="@Url.Action("Index_Gia_Thap_Cao","GuitarShop")">Giá thấp -> cao</a>     
    </div>    
</div>
<div class="wrap">
    <div class="content-bottom">
        @foreach (var dan in Model)
        {
            <div class="box1">
                <div class="col_1_of_3 span_1_of_3">
                    <a href=" @Url.Action("ChiTietDan", "GuitarShop", new { id = dan.MaDan }) ">
                        <div class="view view-fifth">
                            <div class="top_box">
                                <p class="m_1" style="font-style:oblique">@dan.TenDan</p>
                                <div class="grid_img">
                                    <div class="css3"><img src="~/HinhSanPham/@dan.AnhBia " width="300" height="370" /></div>
                                    <div class="mask">
                                        <div class="info">Chi Tiết</div>
                                    </div>
                                </div>
                                <div class="price">@*@dan.GiaBan VNĐ*@ @String.Format("{0:0,0}",dan.GiaBan) VNĐ</div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
@*Tạo liên kết các trang *@
<br />
<div class="col_2_of_footer-top span_1_of_footer-top" style="margin-left:100px">
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))<br />        
    </div>
    <div style="font-size:20px">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</div>
    <style>
        .MenuTrang li {
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 0.5px solid;
            font-size: 18px;
        }
    </style>
</div>
<br /><br /><br /><br /><br /><div align="center">Tổng số lượng khách đã ghé trang<br /><img src='http://www.hit-counts.com/counter.php?t=MTQyNzE2MQ==' border='0' alt='Web Counter'></div><br />